/* custom classes */
.text-gradient-teal {
    background: linear-gradient(270deg, #06766E 0%, #20BA8B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.heading-1{
    font-size: var(--heading-one);
}
.heading-2{
    font-size: var(--heading-two);
}
.heading-3{
    font-size: var(--heading-three);
}
.heading-4{
    font-size: var(--heading-four);
}
.heading-5{
    font-size: var(--heading-five);
}
.heading-6{
    font-size: var(--heading-six);
}

.bg-linear-gradient-primary{
    background: linear-gradient(69.92deg, #003D3D 28.63%,#00664E 87.07%, #008C63 112.98%);
}




@media screen and (max-width: 1200px) {
    .app-integration {
        background-image: url("./app-integration/net-shape.png");
        background-repeat: no-repeat;
        background-position: center -70px;
        background-size: cover;
      }
}